.db-chat-ai {
  &__icon {
    position: fixed;
    cursor: pointer;
    right: 11px;
    bottom: 46px;
    width: 100px;
    height: 74px;
    background: url(@/assets/image/ai-chat.gif) no-repeat;
    background-size: contain;
    z-index: 1000;
  }
  &__content {
    .ant-drawer-header {
      display: none;
    }
    .ant-drawer-body {
      padding: 0;
    }
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__expand-icon {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
