.ac-chat-modal-button {
  cursor: pointer;
  height: 38px;
  margin: 1px 0 0 1px;
  padding: 6px 8px;
  box-sizing: border-box;
  text-align: left;
  font-weight: 500;
  line-height: 38px;
  user-select: text;
  border-radius: 32px 0 0 32px;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 80%;
  transform: translateX(calc(100% - 40px));
  display: flex;
  overflow: visible;
  align-items: flex-end;
  justify-content: center;
  transition: transform 0.3s;
  &:hover {
    right: 0;
    transform: translateX(0);
  }
  &__logo {
    width: 26px;
    height: 26px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__label {
    cursor: pointer;
    user-select: none;
    margin-left: 5px;
    font-size: 14px;
    color: #5c5f66;
    font-weight: 500;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}
