.switch-chart-menu {
  padding: 0 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 5px;

  &__text {
    color: var(--bi-color-font-secondary, rgb(0 0 0 / 65%));
    font-size: 12px;
    margin-right: 5px;
    white-space: nowrap;
  }

  &__select {
    box-sizing: border-box;
    flex: 1;
    border: 1px solid var(--bi-color-border-divider, rgb(0 0 0 / 10%));
    border-radius: var(--bi-radius-100, 4px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    line-height: 24px;

    &:hover {
      border-color: var(--bi-color-theme, #2e74ff);
    }
  }

  &__icon {
    margin-left: 10px;
  }

  &__name {
    flex: 1;
    font-size: 14px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--active {
    .switch-chart-menu__select::after {
      transform: rotate(180deg);
    }
  }

  &__menu-box {
    background-color: var(--bi-color-surface-page-level1, #fff);
    bottom: 0;
    margin-left: -12px;
    position: fixed;
    top: 129px;
    z-index: 100;
  }
}
