.db-board-editor {
  height: 100vh;

  &__body {
    display: flex;
    background: #f5f6f8;
    user-select: none;
    height: calc(100% - 60px);
  }

  &__menu {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    background: #fff;
    border-right: 1px solid #ebecee;
    transition: width 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 240px;
    overflow: auto;
    z-index: 10;
  }

  &__main {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
    overflow: hidden auto;
    transition: left 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.db-board-editor--edit {
  .hd-grid-item-container {
    &--selected {
      box-shadow: 0 0 0 3px var(--bi-primary-color) !important;
    }

    &:hover:not(.hd-grid-item-container--selected) {
      box-shadow: 0 0 0 3px var(--bi-primary-color-disabled, #99e3d6) !important;

      .hd-header-operate-container {
        opacity: 1;
      }
    }

    &:hover {
      .hd-header-operate-container {
        opacity: 1;
      }
    }
  }
}
