.hd-grid-item-container {
  &__header {
    box-sizing: border-box;
    height: 40px;
    line-height: 30px;
    font-weight: 700;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content {
    box-sizing: border-box;
    padding: 0 10px 10px;
    flex: 1;
    cursor: auto;
    overflow: hidden;
  }
}
