.db-setting-data-panel {
  padding: 0 12px;
  color: var(--bi-color-font-secondary);
  border-top: 1px solid var(--bi-divider-color, rgb(0 0 0 / 6%));

  &__title {
    align-items: center;
    display: flex;
    padding: 6px 0;
    color: var(--bi-color-font-primary, rgb(0 0 0 / 85%));
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 29px;
    cursor: move;
    padding-left: 5px;
  }

  &__label {
    margin-left: 5px;
  }

  &__icon {
    color: #2e74ff;
  }

  &__data-select {
    margin: 10px 0;
    width: 100%;
  }
}
