.ac-frequently-question {
  font-size: 14px;
  color: #242424;
  &__title {
    height: 100%;
    display: flex;
    align-items: center;
  }
  //   &__icon {

  //   }
  &__icon {
    width: 20px;
    height: 20px;
    background: url('./images/frequenly-icon.png') no-repeat;
    background-size: contain;
    margin-right: 6px;
  }
  &__item {
    height: 32px;
    border-radius: 6px;
    opacity: 1;
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  }
  &__item-box {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  &__change {
    color: #1b68fc;
  }
  &__change-icon {
  }
}
