.db-hnc-box {
  color: #ffffff;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  &__content {
    height: 300px;
    background: rgba(0, 6, 46, 0.62);
    box-sizing: border-box;
    border: 1px solid;
    border-image: linear-gradient(180deg, #5790fc 0%, #5862f0 44%, #5862f0 100%) 1;
  }
  &__tab {
    display: inline-block;
    min-width: 92px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: url();
    font-size: 14px;
    cursor: pointer;
  }
}
