.db-indicator-card {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 100%;
  // text-align: center;

  // &--dark {
  //   .db-indicator-card__value {
  //     color: rgb(49 215 255);
  //   }
  // }

  &__name {
    color: rgb(0 0 0 / 80%);
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 2px;
  }

  &__value {
    line-height: 1.4;
    font-size: 30px;
    color: #000;
    font-weight: 700;
  }
  &__alarm {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
    height: 16px;
    background: url(../../image/alarm.png) no-repeat;
    background-size: cover;
  }
  &__ratio {
    // position: absolute;
    // right: 8px;
    // top: 8px;
    // width: 16px;
    // height: 16px;
    color: #ff8800;
    font-size: 12px;
  }
}
