.db-dashboard-card {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(84, 48, 132, 0.1);
  height: 100%;
  width: 100%;
  &__header {
    height: 40px;
    line-height: 30px;
    padding: 5px;
  }
  &__title {
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(20, 30, 49);
  }
  &__content {
    height: calc(100% - 40px);
  }
}
