.hnc-chart-edit {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ebecee;
  &__header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
  }
  &__bac-text {
    margin-left: 10px;
  }
  &__back {
    cursor: pointer;
  }
  &__content {
    flex: 1;
    display: flex;
  }
  &__left {
    height: 100%;
    & > img {
      width: 254px;
      height: 889px;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34px 34px auto;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    padding: 10px 15px;
    gap: 10px;
  }
  &__right {
    height: 100%;
    & > img {
      width: 288px;
      height: 892px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    background: #fff;
    border: 1px dashed #d7d9dc;
    border-radius: 3px;
    line-height: 34px;
    position: relative;
  }
}
