.ac-chat-assistant {
  height: 100%;
  &__message-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 16px;
    word-break: break-word;
    line-height: 1.8;
  }
  .ant-pro-chat-input-area {
    background-image: none;
  }
  &__input-wrapper {
    padding: 16px;
  }
}
