.page {
  display: flex;
  justify-content: flex-start;
  width: 1920px;
  height: 1188px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  padding: 21px 12px;
  background: #fff;
  box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 3%);
  border-radius: 4px;
}

.containerItem0 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 76px;
  height: 18px;
  margin-left: 88px;
}

.iconCircle1 {
  align-self: center;
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.tag21 {
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  color: rgb(61 61 61 / 100%);
  white-space: nowrap;
}

.containerItem1 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 77px;
  height: 18px;
  margin-left: 27px;
}

.iconCircle2 {
  align-self: center;
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.word12 {
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  color: rgb(61 61 61 / 100%);
  white-space: nowrap;
}

.containerItem2 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 79px;
  height: 18px;
  margin-left: 28px;
}

.iconPiece1 {
  align-self: center;
  width: 31px;
  height: 1px;
  margin-bottom: 1px;
}

.label11 {
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  color: rgb(61 61 61 / 100%);
  white-space: nowrap;
}

.containerItem3 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 79px;
  height: 18px;
  margin-left: 28px;
}

.horizontalLine {
  align-self: center;
  width: 31px;
  height: 1px;
  margin-bottom: 1px;
}

.label12 {
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  color: rgb(61 61 61 / 100%);
  white-space: nowrap;
}
