// .demo-content {
//   background: red;
//   height: 100%;
// }
// .demo-header {
//   height: 60px;
//   background-color: blue;
//   cursor: move;
// }
.demo-button {
  position: absolute;
  right: 100px;
  top: 100px;
}
body {
  background: red;
}
